{% extends "base.html.twig" %}

{% block title %}
	Mes Commandes
{% endblock %}

{% block body %}
	<h3>Mes Commandes</h3>

	<table class="table">
		<thead>
			<tr>
				<th>Num. Commande</th>
				<th>Adresse</th>
				<th>Date</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for p in purchases %}
				<tr>
					<td>{{ p.id }}</td>
					<td>{{ p.address }}</td>
					<td>{{ p.purchasedAt  | date('d-m-Y') }}</td>
					<td>{{ p.total /100 }}&euro;</td>
					<td>
						<ul>
							{% for item in p.purchaseItems %}
								<li>{{ item.quantity }}x
									{{ item.productName }}
									(
									{{ item.total / 100 }}
									)</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</thead>
</table>{% endblock %}
